* {
    font-family: 'Patua One', cursive;
}

h4 {
    background-color: #00b894;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18pt;
    border-style: solid;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

body {
    background-color: #ffeaa7;
}



h1 {
    color: #2d3436;
    font-size: 30pt;
}